# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Environment variables
.env
.env.local
.env.*.local

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# iOS
ios/Pods/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Android
android/app/release/

# macOS
.DS_Store

# Editor
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
